@import "tailwindcss";

/* Colour palette idea

I'd keep it very clean:

Purpose	Colour
Background	#FCFBFF (almost white)
Primary	#C8B6FF (pastel lavender)
Secondary	#E8DFFF (very light purple)
Accent	#9D7FEA (deeper lavender)
Text	#2E2E2E
Buttons	Lavender with white text

This keeps it elegant instead of looking overly saturated. */


 @theme {
    --color-royal-purple: #210d41;
    --color-background: #d2c7ff;
    --font-inter: "Inter", sans-serif;
 }
:root {
  color-scheme: light;
  --color-royal-purple: #210d41;
  --color-background: #d2c7ff;
  --font-inter: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-background);
  font-family: var(--font-inter);
}